@font-face {
    font-family: 'century-gothic-bold';
    src: url('/static/fonts/century-gothic-bold.TTF') format("truetype"),
        local('century-gothic-bold');
}

.logo {
    height: 70%;
    width: 6%;
    padding: 20px;
    margin-left: 10px;
}

.logo {
    cursor:pointer;
}
  
.logo:hover {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.nav-font {
    font-family: 'century-gothic-bold', sans-serif;
}

.header-font {
    font-family: 'century-gothic-bold', sans-serif;
}

.body-font {
    font-family: 'Roboto', sans-serif;
}

.dot_main {
    color: #FF7900;
}

#headshot {
    border: all;
    border-style: solid;
    border-radius: 100%;
    border-color: #FFF;
    width: 75%;
    height: 90%;
    border-width: .5rem;
}

.orange-box {
    width: 100%;
    padding: 5%;
    background-color: #FF7900;
}

.black-box {
    width: 100%;
    background-color: #080808;
    margin-top: 50px;
}

.tools-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tools-small-containers1 {
    max-width: 25%;
    min-width: 25%;
    flex: 1 1 20%;
    margin-top: 10px;
}

.tools-small-containers2 {
    max-width: 60%;
    min-width: 25%;
    flex: 1 1 20%;
}

.tools {
    font-size: 5rem
}

.tool-box {
    display: flex;
    flex-wrap: wrap;
}

.tool-box>* {
    flex: 1 1 140px;
}

.projects-header {
    position: absolute;
    top: 5%;
    font-family: 'century-gothic-bold', sans-serif;
}

.project-background {
    width: 100%;
    padding: 25%;
    background-color: #DEDEDE;
}

.project-background-bottom {
    width: 100%;
    padding: 5%;
    background-color: #DEDEDE;
}

.project-background-shadow {
    position: relative;
}

.project-background-shadow:before, .project-background-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 420px;
    background: #777;
    -webkit-box-shadow: 0 20px 20px #777;
    -moz-box-shadow: 0 20px 20px #777;
    box-shadow: 0 20px 20px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.project-background-shadow:after { 
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.footer-box {
    width: 100%;
    padding: 50px;
    margin-top: 0;
    background-color: #080808;
}

