@font-face {
    font-family: 'century-gothic-bold';
    src: url('/static/fonts/century-gothic-bold.TTF') format("truetype"),
        local('century-gothic-bold');
}

.logo {
    height: 70%;
    width: 60%;
    padding: 10px 20px 0px 25px;
}

.logo {
    cursor:pointer;
}
  
.logo:hover {
    -moz-animation: spin .4s 1 linear;
    -o-animation: spin .4s 1 linear;
    -webkit-animation: spin .4s 1 linear;
    animation: spin .4s 1 linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

.greeting {
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    color: #FF7900;
    min-height: 650px;
    display: flex;
    justify-content: center;
}

.font-weight {
    font-weight: 100;
    transition: transform 0.2s;
}

section {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-rows: 100px;
}

#my_name {
    position: fixed;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    margin-top: 350px;
    margin-left: 30px;
    font-size: 44px;
}

.nav-font {
    font-family: 'century-gothic-bold', sans-serif;
}

.sidenav {
    width: 120px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: visible;
}

.sidenav-icons {
    display: flex;
    font-size: 30px;
    margin-top: 430px;
    margin-left: 40px;
    flex-direction: column;
    justify-content: center;
}

.fas:hover {
    color: #FF7900;
}

.sidenav-icons-spacing {
    display: none;
    margin-bottom: 25px;
}

#sidenav-contact-spacing {
    margin-left: 3px;
}

#sidenav-about-spacing {
    margin-left: 5px;
}

.main {
    margin-left: 120px;
}

.header-font {
    font-family: 'century-gothic-bold', sans-serif;
}

.body-font {
    font-family: 'Roboto', sans-serif;
}

.dot_main {
    color: #FF7900;
}

#headshot {
    border: all;
    border-style: solid;
    border-radius: 100%;
    border-color: #FFF;
    width: 75%;
    height: 90%;
    border-width: .5rem;
}

.orange-box {
    width: 100%;
    padding: 5%;
    background-color: #FF7900;
    z-index: 2;
}

.black-box {
    width: 100%;
    background-color: #080808;
}

.tools-container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tools-small-containers1 {
    max-width: 25%;
    min-width: 25%;
    flex: 1 1 20%;
    margin-top: 10px;
}

.tools-small-containers2 {
    max-width: 60%;
    min-width: 25%;
    flex: 1 1 20%;
}

.tools {
    font-size: 5rem
}

.tool-box {
    display: flex;
    flex-wrap: wrap;
}

.tool-box>* {
    flex: 1 1 140px;
}

.projects-header {
    position: relative;
    float: left;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'century-gothic-bold', sans-serif;
}

.project-background {
    width: 100%;
    padding: 25%;
    background-color: #DEDEDE;
}

.project-background-bottom {
    width: 100%;
    padding: 5%;
    background-color: #DEDEDE;
}

.project-background-shadow {
    position: relative;
}

.project-background-shadow:before, .project-background-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 420px;
    background: #777;
    -webkit-box-shadow: 0 20px 20px #777;
    -moz-box-shadow: 0 20px 20px #777;
    box-shadow: 0 20px 20px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.project-background-shadow:after { 
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.footer-box {
    width: 100%;
    padding: 50px 50px 10px 50px;
    margin-top: 0;
    background-color: #080808;
}

