{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1 class="flex">
  <div class="rellax name" data-rellax-speed="-4">B</div>
  <div class="wow bounceInRight name"></div>
  <div class="wow bounceInRight rellax name" data-rellax-speed="-1" data-wow-delay=".2s">A</div>
  <div class="wow bounceInRight rellax name" data-rellax-speed="-7" data-wow-delay=".2s">I</div>
  <div class="wow bounceInRight rellax name" data-rellax-speed="-4" data-wow-delay=".2s">L</div>
  <div class="wow bounceInRight rellax name" data-rellax-speed="-3" data-wow-delay=".2s">E</div>
  <div class="wow bounceInRight rellax name" data-rellax-speed="-2" data-wow-delay=".2s">Y</div>
</h1>
<div class="flex">
    <div class="title-background">
        <div class="wow fadeInUp title mt6 ml4" >Full-Stack Developer</div>
    </div>
    <div class="plato ml5">
        <div class="rellax push-ab" data-rellax-speed="-4">
            <img class="wow fadeIn background-plato" src="{% static '/img/platologo2.png' %}" alt="An artist rendering of Plato, the Greek philosopher.">
        </div>
        <div class="rellax push-ab" data-rellax-speed="-3">
            <img class="wow fadeIn plato-speaks" data-wow-delay="1s" src="{% static '/img/plato_speaks.png' %}" alt="A speech bubble that says, this guy is a better developer than Socrates - Plato (probably)">
        </div>
    </div>
</div>
<div class="flex">
    <div class="black-box pa4 mt5">
        <h2 class="header-font white tc">Hey there, I'm a designer that has knowledge of the whole stack. </h2>
    </div>
    <div class="bio-box mt5">
        <div class="body-font">
            [Add Bio] 
        </div>
    </div>
</div>
<h3 class="header-font black f-5 mt5 mb5">My Work</h3>
<div>
    <div class="project-background" data-rellax-zindex="6">
{% for project in project_list %}
    <div class="mt5 mr3 ml3 project-box">
        <a href="{% url 'project-detail' slug=project.title %}" style="background-image: url({{ project.thumb_nail.url }});"
        class="link mw5 dt hide-child br2 cover bg-center">
            <span class="body-font white dtc v-mid w-100 h-100 child bg-black-40 pa5 tc">
                {{project.description}}
            </span>
        </a>
        <div class="project-title tc mt4 mb3">{{ project }}</div>
        <div class="project-icons-index">
            <a class="link" href="{{ project.github_url }}" target="_blank">
                <i class="github-icons black fab fa-github" aria-hidden="true" tooltip="Read Me" tooltip-position="bottom"></i>
            </a>
            {% if project.deployed_url %}
                <div>
                    <a class="link ml4" href="{{ project.deployed_url }}" target="_blank">
                        <i class="live-icon black fas fa-wifi" tooltip="Live Version" tooltip-position="bottom"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
    </div>
    <div class="project-background-bottom project-background-shadow">
        <a class="projects-button f6 link dim ba bw2 ph3 pv2 dib" href="{% url 'projects' %}">View All</a>
    </div>
</div>
<div class="rellax push-ab" data-rellax-speed="-1">
    <img id="sun" src="{% static '/img/orange_circle.png' %}" alt="">
</div>
<script>
    var rellax = new Rellax('.rellax');
</script>
{% endblock %}