{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="rellax" data-rellax-speed="-4">
  <div class="letter1">B</div>
</div>
<div class="rellax" data-rellax-speed="-4">
  <img class="logo2" src="{% static '/img/plato-logo.png' %}" alt="An artist rendering of Plato, the Greek philosopher.">
</div>
<div class="flex">
    <div class="black-box pa4 mt5">
        <h2 class="header-font white tc">Hey there, my name is Bailey! I am a full stack developer from Durham, North Carolina. </h2>
    </div>
    <div class="gray-box mt5">
        <div class="body-font">
            [Add Bio] 
        </div>
    </div>
</div>
<h3 class="header-font black f-5 mt5 mb5">My Work</h3>
<div>
    <div class="project-background">
{% for project in project_list %}
    <div class="mt5 mr3 ml3 project-box">
        <a href="{% url 'project-detail' slug=project.title %}" style="background-image: url({{ project.thumb_nail.url }});"
        class="link mw5 dt hide-child br2 cover bg-center">
            {% comment %} <img class="project-thumbnail mt4" src="{{ project.thumb_nail.url }}"> {% endcomment %}
            <span class="body-font white dtc v-mid w-100 h-100 child bg-black-40 pa5">
                {{project.description}}
            </span>
        </a>
        <div class="project-title tc mt4 mb3">{{ project }}</div>
        <div class="project-icons"
            <a class="link" href="{{ project.github_url }}" target="_blank">
                <img class="mt3 github-icons" src="{% static '/img/github_black.png' %}" alt="The GitHub logo.">
            </a>
            {% if project.deployed_url %}
                <a class="link mt3" href="{{ project.deployed_url }}" target="_blank">
                    <i class="live-icon black fas fa-wifi"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
    </div>
    <div class="project-background-bottom project-background-shadow">
        <a class="projects-button f6 link dim ba bw2 ph3 pv2 mb2 dib" href="{% url 'projects' %}">See More</a>
    </div>
</div>
<h2 class="header-font black f-5 mt5 mb5">Tools of My Craft</h2>
<div class="tools-container">
    <div class="tools-small-container ml6 mr5 mb4">
        <ul class="list f-6 tool-box ml3 mr3">
            <li class="tools"><i class="devicon-django-plain colored"></i></li>
            <li class="tools"><i class="devicon-python-plain colored"></i></li>
            <li class="tools"><i class="devicon-javascript-plain colored"></i></li>
            <li class="tools"><i class="devicon-react-original colored"></i></li>
            <li class="tools"><i class="devicon-jquery-plain-wordmark colored"></i></li>
            <li class="tools"><i class="devicon-html5-plain colored"></i></li>
            <li class="tools"><i class="devicon-css3-plain colored"></i></li>
            <li class="tools"><i class="devicon-postgresql-plain colored"></i></li>
            <li class="tools"><i class="devicon-git-plain colored"></i></li>
            <li class="tools"><i class="devicon-github-plain colored"></i></li>
            <li class="tools"><i class="devicon-heroku-plain colored"></i></li>
            <li class="tools"><i class="devicon-amazonwebservices-original colored"></i></li>
            <li class="tools"><i class="devicon-docker-plain colored"></i></li>
            <li class="tools"><i class="devicon-visualstudio-plain colored"></i></li>
        </ul>
    </div>
</div>
<div class="flex">
    <div class="header-font black mt5 mb4 f-5">Want to work with me?</div>
    <div class="header-font tc mt5 mb5 ml6 mr5">
        <a class="black link vision-font " href="mailto:bailey.costin@gmail.com">
            Tell me <br>your vision<br>👁
        </a>
    </div>
</div>
<script>
    var rellax = new Rellax('.rellax');
</script>
{% endblock %}