{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1 id="projects-page-header" class="mt5 mb4">Work</h1>
<div class="projects-flex mt5 ml5">
{% for project in project_list %}
    <div class="mr4 mb6 ba bw2">
        <a href="{% url 'project-detail' slug=project.title %}">
            <img class="project-thumbnail mt4" src="{{ project.thumb_nail.url }}">
        </a>
        <div class="projects-header mb3 mt3 ml4">
            {{ project.title }}
        </div>
        <div class="ml4 project-icons">
            <a class="link" href="{{ project.github_url }}" target="_blank">
                <i class="github-icons black fab fa-github" tooltip="Read Me" tooltip-position="bottom"></i>
            </a>
            {% if project.deployed_url %}
                <div>
                    <a class="link ml4" href="{{ project.deployed_url }}" target="_blank">
                        <i class="live-icon black fas fa-wifi" tooltip="Live Version" tooltip-position="bottom"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="ml4 mt3">
            <a class="projects-button pointer mb4 f6 link dim ba bw2 ph3 pv2 mb2 dib" href="{% url 'project-detail' slug=project.title %}">Details</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
