<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Bailey Costin</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <link rel="shortcut icon" href="{% static '/img/orange_circle.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Questrial|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <link rel="stylesheet" href="animate.min.css">
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
        <script src="{% static 'build/bundle.js' %}"></script>
        <script src="js/wow.min.js"></script>
        <script>
              new WOW().init();
        </script>
    </head>
    <header>
        <nav>
            <ul class="flex list flex justify-end mt4 mr4">
                <li><a class="nav-font ml1 link hover-orange dib pointer black" href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-font ml1">-</li>
                <li><a class="nav-font ml1 link hover-orange dib pointer black" href="{% url 'resume' %}">Resume</a></li>
                <li class="nav-font ml1">-</li>
                <li><a class="nav-font ml1 link hover-orange dib pointer black" href="mailto:bailey.costin@gmail.com">Connect</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="sidenav">
            <a href="{% url 'index' %}">
                <img class="logo" src="{% static '/img/plato-logo.png' %}" alt="An artist rendering of Plato, the Greek philosopher.">
            </a>
            <div id="my_name" class="header-font">
                Bailey Costin
            </div>
            <div class="sidenav-icons">
                <a class="sidenav-icons-spacing" href="{% url 'index' %}">
                    <i class="black pointer fas fa-home"></i>
                </a>
                <i id="sidenav-about-spacing" class="sidenav-left-spacing sidenav-icons-spacing pointer fas fa-user"></i>
                <i class="sidenav-icons-spacing pointer fas fa-project-diagram"></i>
                <a id="sidenav-contact-spacing" class="sidenav-icons-spacing" href="mailto:bailey.costin@gmail.com">
                    <i class="pointer black fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>