{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mt4 greeting">
    <section>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
        <div class="font-weight">h</div>
        <div class="font-weight">e</div>
        <div class="font-weight">l</div>
        <div class="font-weight">l</div>
        <div class="font-weight">o</div>
    </section>
</div>
<div class="flex">
    <div class="mt3">
        <img id="headshot" src="{% static '/img/headshot.jpg' %}" alt="">
    </div>
    <div class="black-box pa4 mt3">
        <h2 class="header-font white tc">What's this dude's deal? 🤔</h2>
        <p class="body-font white bio">
            My name is Bailey, and I am a software developer and designer living in Durham, NC.
        </p>
    </div>
</div>
<div class="orange-box wow slideInLeft"></div>
<div class="tools-container">
    <div class="tools-small-containers1 ml4 pa4">
        <h2 class="header-font black f-6">Tools of <br>my Craft</h2>
        {% comment %} <div class="f-6 tc">🛠</div> {% endcomment %}
    </div>
    <div class="tools-small-containers2 ml6 mr5 mb3">
        <ul class="list f-6 tool-box">
            <li class="mt3"><i class="devicon-python-plain colored"></i></li>
            <li class="mt3"><i class="devicon-django-plain colored"></i></li>
            <li class="mt3"><i class="devicon-javascript-plain colored"></i></li>
            <li class="mt3"><i class="devicon-react-original colored"></i></li>
            <li class="mt3"><i class="devicon-jquery-plain-wordmark colored"></i></li>
            <li class="mt3"><i class="devicon-html5-plain colored"></i></li>
            <li class="mt3"><i class="devicon-css3-plain colored"></i></li>
            <li class="mt3"><i class="devicon-postgresql-plain colored"></i></li>
            <li class="mt3"><i class="devicon-git-plain colored"></i></li>
            <li class="mt3"><i class="devicon-github-plain colored"></i></li>
            <li class="mt3"><i class="devicon-heroku-plain colored"></i></li>
            <li class="mt3"><i class="devicon-amazonwebservices-original colored"></i></li>
            <li class="mt3"><i class="devicon-docker-plain colored"></i></li>
            <li class="mt3"><i class="devicon-visualstudio-plain colored"></i></li>
            <li class="mt3"><i class="devicon-illustrator-plain colored"></i></li>
        </ul>
    </div>
</div>
<div>
    <div class="project-background">
        <h3 class="projects-header black">My Work</h3>
        <a class="projects-button f6 link dim ba bw2 ph3 pv2 mb2 dib" href="#0">See More</a>
    </div>
    <div class="project-background-bottom project-background-shadow">
    </div>
</div>
<img src="{% static '/img/bull_city_skyline.png' %}" alt="">
<div class="flex">
    <div class="header-font black mt5 mb4 f-5">Want to work with me?</div>
    <div class="header-font tc mt5 mb4 ml6">
        <a class="black link vision-font " href="mailto:bailey.costin@gmail.com">
            Tell me <br>your vision<br>👁
        </a>
    </div>
</div>
<div class="footer-box">
    <div class="pb4 tc">
        <div class="header-font white">Let's be internet friends!</div>
            <a href="https://www.linkedin.com/in/bailey-costin-7745b8179/"><img class="footer-icons pa2" src="{% static '/img/linkedin.png' %}" alt="The LinkedIn logo."></a>
            <a href="https://github.com/bdcostin"><img class="footer-icons pa2" src="{% static '/img/github.png' %}" alt="The GitHub logo."></a>
    </div>
    <div class="tc mb3">
        <div class="body-font gray">Handcrafted with 🧡by me</div>
        <div class="body-font gray"><a class="gray link" href="https://github.com/bdcostin/portfolio">Source code</a> - © 2019</div>
    </div>
</div>
{% endblock %}