{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="rellax" data-rellax-speed="-4">
  <div class="letter1">B</div>
</div>
<div class="rellax" data-rellax-speed="-4">
  <img class="logo2" src="{% static '/img/plato-logo.png' %}" alt="An artist rendering of Plato, the Greek philosopher.">
</div>
<div class="flex">
    <div class="black-box pa4 mt5">
        <h2 class="header-font white tc">Hey there, my name is Bailey! I am a full stack developer from Durham, North Carolina. </h2>
    </div>
    <div class="gray-box mt5">
        <div class="body-font">
            I am passionate about building software that improves peoples lives.
        </div>
    </div>
</div>
<h3 class="header-font black f-5">My Work</h3>
{% for project in projects %}
    {% if project.thumb_nail %}
       <img src="{{ project.thumb_nail }}">
    {% endif %}
{% endfor %}
<div>
    <div class="project-background">
    {% for project in projects %}
       <div>{{ thumb_nail }}</div>
    {% endfor %}
    </div>
    <div class="project-background-bottom project-background-shadow">
        <a class="projects-button f6 link dim ba bw2 ph3 pv2 mb2 dib" href="{% url 'projects' %}">See More</a>
    </div>
</div>
<h2 class="header-font black f-5 mt5">Tools of my Craft</h2>
<div class="tools-container">
    <div class="tools-small-container ml6 mr5 mb4">
        <ul class="list f-6 tool-box">
            <li><i class="devicon-python-plain colored"></i></li>
            <li><i class="devicon-django-plain colored"></i></li>
            <li><i class="devicon-javascript-plain colored"></i></li>
            <li><i class="devicon-react-original colored"></i></li>
            <li><i class="devicon-jquery-plain-wordmark colored"></i></li>
            <li><i class="devicon-html5-plain colored"></i></li>
            <li><i class="devicon-css3-plain colored"></i></li>
            <li><i class="devicon-postgresql-plain colored"></i></li>
            <li><i class="devicon-git-plain colored"></i></li>
            <li><i class="devicon-github-plain colored"></i></li>
            <li><i class="devicon-heroku-plain colored"></i></li>
            <li><i class="devicon-amazonwebservices-original colored"></i></li>
            <li><i class="devicon-docker-plain colored"></i></li>
            <li><i class="devicon-visualstudio-plain colored"></i></li>
        </ul>
    </div>
</div>
<div class="flex">
    <div class="header-font black mt5 mb4 f-5">Want to work with me?</div>
    <div class="header-font tc mt5 mb5 ml6">
        <a class="black link vision-font " href="mailto:bailey.costin@gmail.com">
            Tell me <br>your vision<br>👁
        </a>
    </div>
</div>
{% comment %} <img src="{% static '/img/bull_city_skyline.png' %}" alt=""> {% endcomment %}
<script>
    var rellax = new Rellax('.rellax');
</script>
{% endblock %}